
// .conteneur-flex{
//     display: flex;
//     flex-flow : row wrap;
//     justify-content: space-around;
//     background-color: #99F; /*Bleu*/
// }

// .element-flex{
//     flex: 10 10 100%;
//     background-color: #FC8; /*Jaune*/
//     height: 50px;
//     margin: 10px;
// }

// /*Pour tous les appareils équipés d'écrans et dont la taille est inférieure à 780px*/
// @media screen and (max-width: 780px){
//     body{
//         background-color: #848; /*Violet*/
//   }
//     .conteneur-flex{
//         flex-flow: column wrap;
//     }
// }



.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  border-radius: 10%;

/* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
      border-radius: 10%;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  justify-content: center;
    box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}


.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
      border-radius: 10%;
}


 .flip-card-back a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;

 }

/* Transistion both your normal and hovered elements to allow for smooth flow when unhovered */







// .card {
//       margin: 39px;
// }


// .css-style{
//   border-radius: 50%;
// }

// .container .cards{
//     margin: 0;
//     padding: 0;
//     min-height: 100vh;
//     background: #333;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-family: consolas;
// }

// .container{
//     width: 1000px;
//     position: relative;
//     display: flex;
//     justify-content: space-between;
// }

// .container .card{
//     position: relative;
//     cursor: pointer;
// }

// .container .card .face{
//     width: 260px;
//     height: 200px;
//     transition: 0.5s;
// }

// .container .card .face.face1{
//     position: relative;
//     background: #333;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     z-index: 1;
//     transform: translateY(100px);
// }

// .container .card:hover .face.face1{
//     background: #ffdf2b;
//     transform: translateY(0);
// }

// .container .card .face.face1 .content{
//     opacity: 0.2;
//     transition: 0.5s;
// }

// .container .card:hover .face.face1 .content{
//     opacity: 1;
// }

// .container .card .face.face1 .content img{
//     max-width: 100px;
// }

// .container .card .face.face1 .content h3{
//     margin: 10px 0 0;
//     padding: 0;
//     color: #fff;
//     text-align: center;
//     font-size: 1.5em;
// }

// .container .card .face.face2{
//     position: relative;
//     background: #fff;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding: 20px;
//     box-sizing: border-box;
//     box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
//     transform: translateY(-100px);
// }

// .container .card:hover .face.face2{
//     transform: translateY(0);
// }

// .container .card .face.face2 .content p{
//     margin: 0;
//     padding: 0;
// }

// .container .card .face.face2 .content a{
//     margin: 15px 0 0;
//     display:  inline-block;
//     text-decoration: none;
//     font-weight: 900;
//     color: #333;
//     padding: 5px;
//     border: 1px solid #333;
// }

// .container .card .face.face2 .content a:hover{
//     background: #333;
//     color: #fff;
// }

.cards {
  justify-content: space-around;
}
.description {
    // display: flex;
    justify-content: space-evenly;
}



// @media screen and (max-width: 780px){
//     body{
//         background-color: #848; /*Violet*/
//   }
//     .container-flex{
//         flex-flow: column wrap;
//     }
// }

// .footer {
//     margin-top: 150px;
//     color: #6e6e6e;
//     bottom: 0;
//     background-repeat: no-repeat;
//     background-size: cover;
//     font-family: Montserrat;
//     padding-top: 50px;
// }


.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}




